@model SkjaTextar.ViewModels.SearchMediaViewModel

@{
    ViewBag.Title = "Þýðingar";
}

<h1 class="col-xs-offset-1">@ViewBag.Language.Name</h1>
<hr />
<div class="col-xs-offset-1">
    <h3>Kvikmyndir</h3>
    @foreach (var item in Model.Movies)
    {
        <p class="biggertext">@Html.ActionLink(item.Title, "Index", "Translation", new { id = item.ID }, null)</p>
    }
    <h4>Sjónvarpsþættir</h4>
    @foreach (var item in Model.Shows)
    {
        <p class="biggertext">@Html.ActionLink(item.Title + " S" + item.Series + "E" + item.Episode, "Index", "Translation", new { id = item.ID }, null)</p>
    }
    <h3>Myndbrot</h3>
    @foreach (var item in Model.Clips)
    {
        <p class="biggertext">@Html.ActionLink(item.Title, "Index", "Translation", new { id = item.ID }, null)</p>
    }
</div>