@model IEnumerable<SkjaTextar.Models.Language>

@{
    ViewBag.Title = "Þýðingar eftir tungumáli";
}

<h2>Veldu tungumál</h2>

@foreach (var item in Model) {
   
    <p>@Html.ActionLink(item.Name, "ByLanguage", "Translation", new { id = item.ID }, null)</p>
}