@model IEnumerable<SkjaTextar.Models.Clip>
@{
    ViewBag.Title = "Myndbrot - " + ViewBag.Category;
}

<h2 class="col-md-offset-1">Myndbrot - @ViewBag.Category</h2>
<hr />
@foreach (var item in Model)
{
    <p class="biggertext col-md-offset-1">@Html.ActionLink(item.Title + " - " + item.ReleaseYear, "Index", "Media", new { id = item.ID }, null)</p>
}

