@model IEnumerable<SkjaTextar.Models.Movie>
@{
    ViewBag.Title = "Kvikmyndir - " + @ViewBag.Category;
}

<h2>Kvikmyndir - @ViewBag.Category</h2>

@foreach(var item in Model)
{
    <p>@Html.ActionLink(item.Title + " - " + item.ReleaseYear, "Index", "Media", new { id = item.ID }, null)</p>
}