@model IEnumerable<SkjaTextar.Models.Show>
@{
    ViewBag.Title = "Sjónvarpsþættir - " + ViewBag.Category;
}

<h2 class="col-md-offset-1">Sjónvarpsþættir - @ViewBag.Category</h2>
<hr />
@foreach (var item in Model)
{
    <p class="biggertext col-md-offset-1">@Html.ActionLink(item.Title + " S" + item.Series + "E" + item.Episode, "Index", "Media", new { id = item.ID }, null)</p>
}
