@model SkjaTextar.ViewModels.SearchMediaViewModel

@{
    ViewBag.Title = "Leitarniðurstöður";
}
<div class="col-xs-offset-1">
    <h1>@ViewBag.Count  Niðurstöður</h1>
</div>
<hr />
<div class="col-xs-offset-1">
    <h3>Kvikmyndir</h3>
    @foreach (var item in Model.Movies)
    {
        <p class="biggertext">@Html.ActionLink(item.Title + " - " + item.ReleaseYear, "Index", "Media", new { id = item.ID }, null)</p>
    }
    <h3>Sjónvarpsþættir</h3>
    @foreach (var item in Model.Shows)
    {
        <p class="biggertext">@Html.ActionLink(item.Title + " - S" + item.Series + "E" + item.Episode, "Index", "Media", new { id = item.ID }, null)</p>
    }
    <h3>Myndbrot</h3>
    @foreach (var item in Model.Clips)
    {
        <p class="biggertext">@Html.ActionLink(item.Title + " - " + item.ReleaseYear, "Index", "Media", new { id = item.ID }, null)</p>
    }
</div>
