@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-sm">
                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Útskrá</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Innskrá", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<ul>
    <li>
        <form class="navbar-form navbar-right" role="search" method="post" action="/Home/Search">
            <div class="form-group">
                <input name="searchQuery" type="text" class="form-control" placeholder="Leita">
            </div>
            <span  class="form-group hidden-xs"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
        </form>
    </li>
</ul>