@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h2 class="text-danger">Villa kom upp við úrvinnslu fyrirspurnarinnar.</h2>
<h3>@Model.ActionName</h3>
@Model.Exception.HResult

