@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

@if (Model.Exception.GetType() == typeof(SkjaTextar.Exceptions.SubtitleParseException))
{
    <h2 class="text-danger col-sm-offset-1">@Model.Exception.Message</h2>
}
else
{
    <h2 class="text-danger col-sm-offset-1">Villa kom upp við úrvinnslu fyrirspurnar.</h2>
}
