@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h2 class="text-danger col-sm-offset-1">Villa kom upp við úrvinnslu fyrirspurnarinnar.</h2>
@if (Model.Exception.HResult == -2147467261)
{
    <h3 class="text-danger col-sm-offset-1">Villa við lestur .srt skráar</h3>
}


